<div class="social">
	<ul class="list-linear list-linear-top">
		<li><div class="twitter-follow"><a href="https://twitter.com/cssradar" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
		<li><div class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="cssradar" data-lang="en">Tweet</a></div></li>
		<li>
			<div class="facebook"><div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-colorscheme="dark" data-font="lucida grande"></div></div>
		</li>
		<li><div class="g-plusone" data-size="medium"></div></li>
	</ul>
</div>